/* GLOBAL */

/* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya', serif; */
body {
    font-family: 'Alegreya', serif;
    background-color: #E8E2A5;
    
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
}

h3 {
    font-family: 'Alegreya Sans', sans-serif;
}

li {
    list-style: none;
}


/* HEADER */

.header {
    background-color: #FAFFB5;
    padding-top: 3em;
    padding-bottom: 3em;   
    
}

.header__title {
    text-align: center;
}

/* MAIN */

/* section-top */

.section-top {
    margin-left: 5em;
    
}

/* section-bot */

.section-bot {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-around;
    justify-content: baseline;
    background-color: #E8D5A5;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer__section__button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:6px;
	border:3px solid #E8E2A5;
	display:inline-block;
	cursor:pointer;
	color:#6b6b6b;
	font-family:Arial;
	font-size:1.2em;
	font-weight:bold;
	padding:0.5em 1em;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.section-left {
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.footer__section__list {
    width: 5em;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}