/* GLOBAL */

/* HEADER */

.header {
    background-color: red;
    padding-top: 3em;
    padding-bottom: 3em;   
    
}

.header__title {
    text-align: center;
}

/* MAIN */

/* section-top */

.section-top {
    margin-left: 5em;
    background-color: blue;
}

/* section-bot */

.section-bot {
    display: flex;
    justify-content: center;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-around;
}